body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

#box {
  width: 50%;
  height: fit-content;
  text-align: center;
  background-color: #fff;
  padding: 1em;
  border-radius: 0.8em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
h1{
  font-size: xx-large;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  font-style: normal;
}
hr{
  width: 90%;
  border: 1px solid black;
  border-radius: 1em;
}
#resposta{
  width: 90%;
  margin: 1.5em auto 1em;
  font-size: large;
  font-weight: normal;
}
#pergunta{
  width: 40%;
  height: 0.3em;
  padding: 1em;
  border: 2px solid black;
  margin-bottom: 1em;

  &:focus {
    outline: 2px solid #909090;
  }
}
#perguntar{
  background-color: black;
  color: #fff;
  font-size: 0.95em;
  padding: 0.6em;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s;
  
  &:hover{
    background-color: #909090;
    color: black;
    font-size: 0.98em;
  }
}

@media screen and (max-width: 600px) {
  #resposta{
    margin: 1.5em auto 0.5em;
    font-size: medium;
  }
  #pergunta{
    width: 50%;
  }
  #perguntar{
    font-size: 0.9em;
    padding: 0.6em;
  }

  &:hover{
    font-size: 0.95em;
  }
}
@media screen and (max-width: 600px) {
  #resposta{
    margin: 1.5em auto 0.5em;
    font-size: medium;
  }
  #pergunta{
    width: 50%;
  }
  #perguntar{
    font-size: 0.9em;
    padding: 0.6em;
  }

  &:hover{
    font-size: 0.95em;
  }
}
@media screen and (max-width: 425px) {
  #box {
    width:70%;
    padding: 0.8em;
  }
  h1{
    font-size: x-large;
  }
  #resposta{
    width: 95%;
    margin: 1.5em auto 0.5em;
    font-size: medium;
  }
  #pergunta{
    width: 60%;
    height: 0.2em;
    margin-bottom: 1.5em;
  }
  #perguntar{
    padding: 0.5em;
  }
}